<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>To.Do.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB57B9B61B97C4FC002E8706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB57B9CD1B97C4FC002E8706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB57B9D81B97C4FC002E8706</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
